[Unit]
ConditionPathExists=|!/etc/hostname
Before=network-pre.target
After=local-fs.target
Wants=network-pre.target
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/lib/itransformers/set_gw_id.sh"
RemainAfterExit=yes

[Install]
WantedBy=network.target
